html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    background-color: rgba(80,90,201,0.1);
}

.form-control, .btn {
    background-color: rgba(80,90,201,1);
    border-color: rgba(80,90,201,1);
    color: white;
}

select.form-control, .event-input {
    background-color: #fff;
    border-color: #ced4da;
    color: black;
}

.button-container {
    gap: 15px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1000;
}


